@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  width: 100%;
  background: rgb(110, 104, 98);
  color: #fff;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  padding: 1em 0;
}

h1 {
  font-size: 4rem;
}

input[type=search] {
  width: 300px;
  padding: 0.4em;
  font-family: 'Poppins', sans-serif;
  outline: none;
  border: 1px solid #44403c;
  border-radius: 4px;
}

button {
  width: 80px;
  padding: 0.4em;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  outline: none;
  border: 1px solid #44403c;
  border-radius: 4px;
  background: #f97316;
  color: #fff;
  margin-left: 0.3em;
}

section {
  height: 100vh;
}

.weather-background {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.clear-day {
  background-image: url('./img/clear-day.jpg');
}

.clear-night {
  background-image: url('./img/clear-night.jpg');
}

.clouds-day {
  background-image: url('./img/clouds-day.jpg');
}

.clouds-night {
  background-image: url('./img/clouds-night.jpg');
}

.thunderstorm {
  background-image: url('./img/thunderstorm.jpg');
}

.rain {
  background-image: url('./img/rain.jpg');
}

.drizzle {
  background-image: url('./img/rain.jpg');
}

.snow {
  background-image: url('./img/snow.jpg');
}

.display-weather-info {
  padding: 1em;
  display: flex;
  flex-direction: column;
  background: #44403c;
  color: #fff;
  border-radius: 8px;
  font-size: 2rem;
  text-align: center;
  opacity: 0.8;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);
}

.weather-info .temperature {
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature>div {
  display: flex;
  gap: 5px;
}

.temperature h3 {
  font-size: 4rem;
}

.metric-unit {
  width: 40px;
}

@media only screen and (max-width: 560px) {
  .container {
    width: auto;
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .container form {
    margin-bottom: 1em;
  }

  input[type=search] {
    width: 200px;
  }

  .display-weather-info {
    width: 330px;
  }
}